// The following CSS sheet stylizes image sizes, font, colours, cropping, overlay, animations and checkbox functions.
$back1: #557a95; 
$back2: #7395AE;
$text1 : #000000;
$text2: #ffffff;
$sec1: #B1A296; 
$sec2: #5D5C61;

@font-face {
    font-family: h1font;
    src: url(./fonts/specialelite.ttf);
  }

@font-face {
    font-family: h2font;
    src: url(./fonts/ubuntu.ttf);
  }

  @font-face {
    font-family: pfont;
    src: url(./fonts/spacemono.ttf);
  }


@mixin frontitems() {
        .menimg {
            margin-left: 20vw;
            padding: 5vw;
            border-radius: 50%;
            width: 50vw;
            height: 50vw;
            background-color: $back1;
        }
    }

@mixin nav1() {
    ul {
        list-style: none;
        li {
            background-color: $sec2;
            border-radius: 20%;
            padding: 1vw;
            margin: 1vw;
        }
    }
}
// The following uses flexbox to make adaptive display for the nav bar
@mixin navbar() {
    display: flex;
    justify-content: center;
    background-color: $back1;
    list-style: none;
    a {
    color: $text2;
    }
    ul {
        display: flex;
        justify-content: center;
        list-style: none;
        .conli {
        height: 5vh;
        padding: 2vw;
        li {
            background-color: $sec2;
            border-radius: 20px;
        }
    }
    
    }
}
// The following uses pseudoclass :hover to allow highlighted anchors
p a:hover{
    background-color: $sec1;
}
li:hover {
    background-color: $sec1;
}

* {
    margin: 0vw;
    padding: 0vw;
}

header {
@include nav1;
}

body {
    font-family: pfont;
    background-color: $back2;
    a {
        color: $text1;
        font-weight: bold;
    }
    h1 {
        display: flex;
        justify-content: center;
        background-color: $back2;
        color: $text1;
        font-size: 10vw;
        font-family: h1font;
       }
       h2 {
           padding: 5vw;
       }
       margin-bottom: 10vw;
}

#boutmeheadpic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 60vh;
    border-radius: 30%;
}

#navbar {
@include navbar;
}

#imgcont {
    @include frontitems;
    flex-direction: column;
    justify-content: center;
    }
// the following allows the menu items on the front page to scale up and lose their background when hovered.
#imgcont a:hover{
    background-color: transparent;
    .menimg {
        transform: scale(1.2);
        transition: 2s;
        background-color: transparent;
    }
}

    
.clickbait {
    text-align: center;
}
//  Th following keeps text hidden until user clicks picture
#whoami {
    display: none;
}



section {
    padding-top: 10vh;
}
// the following displays content when user interacts (clicks)
input[type=checkbox]:checked ~ section{
    display: block;
}
// the footer is another textual component that uses flexbox to adapt different viewport widths
footer {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100vw;
    text-align: center;
    background-color: $back1;
    color: $text1;
    font-size:10px;
}


h2 {
    text-align: center;
}

.blogs {

    h3 {
        padding-top: 5vw;
    }
    h4 {
        padding-top: 1vw;
    }
    // the following is the container used to align flex item images throughout blog
    #pictub {        
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        img {
                border-radius: 20%;
            
        }

        #recipe1{
            position: relative;
            text-align: center;
            color: $text2;
        // the folloowing keep the text hidden on phones but ready to display when hovered on larger viewports
        .butrum {
            position: absolute;
            top: 5vh;
            left: 12vw;
            background-color: $text1;
            opacity: 0%;
            width: 35%;
            height: 40%;
        }

        .hevglit {
            position: absolute;
            top: 5vh;
            right: 12vw;
            background-color: $text1;
            opacity: 0%;
            width: 35%;
            height: 35%;
        }

        .gorgeous {
            position: absolute;
            bottom: 5vh;
            left: 12vw;
            background-color: $text1;
            opacity: 0%;
            width: 35;
            height: 40%;
        }

        .cazzo {
            position: absolute;
                bottom: 5vh;
                right: 20vw;
                background-color: $text1;
                opacity: 0%;
                right: 12vw;
                width: 35%;
                height: 40%;
        }

}
    #pictub2 {        
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .blogpic {
            border-radius: 20%;
        }
        img {
        height: 25vw;
        padding: 1vw;
        }   
    }
    img {
        height: 25vw;
        padding: 1vw;
        }   
}
}


// This allows for the arrnging of icons in responsive design
#contactlist {
    display: flex;
    justify-content: center;
}
.conli {
        height: 10vw;
        width: 10vw;
        padding: 5vw;
}

// media break for tablet
@media only screen and (min-width: 800px) {

    #contactlist {
        display: flex;
        flex-wrap: wrap;
        height: 100vw;
    }   
    .conli {
       height:20vw;
       width: 20vw;
       padding:15vw;
    }

    #imgcont {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0px;
        a {
            display: inline;
        }
        .menimg {
            padding: 5vw;
            border-radius: 50%;
            width: 30vw;
            height: 30vw;
            margin: 0px;
        }
    } }
    
    .clickbait {
        text-align: center;
    }
    #whoami {
        display: none;
    }

    section {
        padding-top: 10vh;
        display: none;
    }
    
    input[type=checkbox]:checked ~ section{
        display: block;
    }
    footer {
        font-size:20px;
    }
// media break for larger viewport (eg PC)
@media only screen and (min-width: 1000px) {
    #contactlist {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        height: 100vw; 
    .conli {
       height:10vw;
       width: 10vw;
       padding:5vw;
    }
    .conli:hover {
        transform: rotate(360deg) scale(1.5);
        transition: 3s;
        animation-iteration-count:5

    }
    }

    #pictub {        
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        img {
                border-radius: 20%;
            
        }

    #recipe1{
        position: relative;
        text-align: center;
        color: $text2;
    
    .butrum {
        position: absolute;
        top: 5vh;
        left: 12vw;
        background-color: $text1;
        opacity: 0%;
        width: 35%;
        height: 40%;
    }
    .butrum:hover {
            opacity: 80%;
    }
    
    .hevglit {
        position: absolute;
        top: 5vh;
        right: 12vw;
        background-color: $text1;
        opacity: 0%;
        width: 35%;
        height: 40%;
    }
    .hevglit:hover {
        opacity: 80%;

    }
    .gorgeous {
        position: absolute;
        bottom: 5vh;
        left: 12vw;
        background-color: $text1;
        opacity: 0%;
        width: 35%;
        height: 40%;
    }
    .gorgeous:hover {
        opacity: 80%;

    }
    .cazzo {
        position: absolute;
            bottom: 5vh;
            right: 20vw;
            background-color: $text1;
            opacity: 0%;
            right: 12vw;
            width: 35%;
            height: 40%;
    }
    .cazzo:hover {
        opacity: 80%;
}
}
footer {
    font-size:20px;
}
}
}





