@font-face {
  font-family: h1font;
  src: url(./fonts/specialelite.ttf); }
@font-face {
  font-family: h2font;
  src: url(./fonts/ubuntu.ttf); }
@font-face {
  font-family: pfont;
  src: url(./fonts/spacemono.ttf); }
p {
  padding: 0vw 5vw; }

section {
  padding-left: 3vw;
  padding-right: 3vw; }

p a:hover {
  background-color: #B1A296; }

li:hover {
  background-color: #B1A296; }

* {
  margin: 0vw;
  padding: 0vw; }

header ul {
  list-style: none;
  width: 100vw; }
  header ul li {
    background-color: #5D5C61;
    border-radius: 20%;
    padding: 1vw;
    margin: 1vw;
    font-size: x-small; }

body {
  font-family: pfont;
  background-color: #7395AE;
  margin-bottom: 10vw; }
  body a {
    color: #000000;
    font-weight: bold; }
  body h1 {
    display: flex;
    justify-content: center;
    background-color: #7395AE;
    color: #000000;
    font-size: 10vw;
    font-family: h1font;
    padding: 3vh; }
  body h2 {
    padding: 5vw; }

#boutmeheadpic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 60vh;
  border-radius: 30%; }

#navbar {
  display: flex;
  justify-content: center;
  background-color: #557a95;
  list-style: none; }
  #navbar a {
    color: #ffffff; }
  #navbar ul {
    display: flex;
    justify-content: center;
    list-style: none;
    width: 100vw;
    z-index: 3; }
    #navbar ul .conli {
      height: 5vh;
      width: 100vw;
      padding: 2vw; }
      #navbar ul .conli li {
        background-color: #5D5C61;
        border-radius: 20px; }

#imgcont {
  flex-direction: column;
  justify-content: center; }
  #imgcont .menimg {
    margin-left: 20vw;
    padding: 5vw;
    border-radius: 50%;
    width: 50vw;
    height: 50vw;
    background-color: #557a95; }

#imgcont a:hover {
  background-color: transparent; }
  #imgcont a:hover .menimg {
    transform: scale(1.2);
    transition: 2s;
    background-color: transparent; }

.clickbait {
  text-align: center; }

#whoami {
  display: none; }

section {
  padding-top: 10vh; }

input[type=checkbox]:checked ~ section {
  display: block; }

footer {
  display: block;
  position: fixed;
  bottom: 0;
  width: 100vw;
  text-align: center;
  background-color: #557a95;
  color: #000000;
  font-size: 10px; }

h2 {
  text-align: center; }

.workbody {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .workbody .worktitle {
    border-radius: 50%;
    margin-bottom: 5vw; }

body .bloglist li {
  padding-left: 5vw; }

.blogs {
  text-align: center; }
  .blogs h3 {
    padding-top: 5vw; }
  .blogs h4 {
    padding-top: 1vw; }
  .blogs p {
    padding: 3vh; }
  .blogs #pictub {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    .blogs #pictub img {
      border-radius: 20%; }
    .blogs #pictub #recipe1 {
      position: relative;
      text-align: center;
      color: #ffffff; }
      .blogs #pictub #recipe1 .butrum {
        position: absolute;
        top: 5vh;
        left: 12vw;
        background-color: #000000;
        opacity: 0%;
        width: 34%;
        height: 25%;
        height: 40%; }
      .blogs #pictub #recipe1 .butrum:hover {
        opacity: 80%;
        top: 2vh;
        width: 34%;
        height: 25%;
        left: 12.5vw;
        font-size: 1vh; }
      .blogs #pictub #recipe1 .hevglit {
        position: absolute;
        top: 5vh;
        right: 12vw;
        background-color: #000000;
        opacity: 0%;
        width: 35%;
        height: 35%; }
      .blogs #pictub #recipe1 .hevglit:hover {
        opacity: 80%;
        top: 2vh;
        width: 34%;
        right: 13vw;
        font-size: 1vh; }
      .blogs #pictub #recipe1 .gorgeous {
        position: absolute;
        bottom: 5vh;
        left: 12vw;
        background-color: #000000;
        opacity: 0%;
        width: 35%;
        height: 40%; }
      .blogs #pictub #recipe1 .gorgeous:hover {
        opacity: 80%;
        bottom: 2vh;
        width: 34%;
        height: 25%;
        left: 13vw;
        font-size: 1vh; }
      .blogs #pictub #recipe1 .cazzo {
        position: absolute;
        bottom: 5vh;
        right: 20vw;
        background-color: #000000;
        opacity: 0%;
        right: 12vw;
        width: 35%;
        height: 40%; }
      .blogs #pictub #recipe1 .cazzo:hover {
        opacity: 80%;
        bottom: 5vh;
        width: 34%;
        height: 25%;
        right: 12vw;
        font-size: 1vh; }
    .blogs #pictub #pictub2 {
      display: flex;
      justify-content: center;
      flex-wrap: wrap; }
      .blogs #pictub #pictub2 .blogpic {
        border-radius: 20%; }
      .blogs #pictub #pictub2 img {
        height: 25vw;
        padding: 1vw; }
    .blogs #pictub img {
      height: 25vw;
      padding: 1vw; }

#contactlist {
  display: flex;
  justify-content: center; }

.conli {
  height: 10vw;
  width: 10vw;
  padding: 5vw; }

@media only screen and (min-width: 800px) {
  #contactlist {
    display: flex;
    flex-wrap: wrap;
    height: 100vw; }

  #contactlist:hover {
    background-color: transparent; }

  .conli {
    height: 20vw;
    width: 20vw;
    padding: 10vw; }

  #imgcont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px; }
    #imgcont a {
      display: inline; }
    #imgcont .menimg {
      padding: 5vw;
      width: 30vw;
      height: 30vw;
      margin: 0px; } }
.clickbait {
  text-align: center; }

#whoami {
  display: none; }

section {
  padding-top: 10vh;
  display: none; }

input[type=checkbox]:checked ~ section {
  display: block; }

footer {
  font-size: 20px; }

@media only screen and (min-width: 1000px) {
  #contactlist {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vw; }
    #contactlist .conli {
      height: 10vw;
      width: 10vw;
      padding: 5vw; }
    #contactlist .conli:hover {
      transform: rotate(360deg) scale(1.5);
      transition: 3s;
      animation-iteration-count: 5s;
      background-color: transparent; }

  #pictub {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    #pictub img {
      border-radius: 20%; }
    #pictub #recipe1 {
      position: relative;
      text-align: center;
      color: #ffffff; }
      #pictub #recipe1 .butrum {
        position: absolute;
        top: 10vh;
        left: 12vw;
        background-color: #000000;
        opacity: 0%;
        width: 35%;
        height: 40%; }
      #pictub #recipe1 .butrum:hover {
        opacity: 80%; }
      #pictub #recipe1 .hevglit {
        position: absolute;
        top: 5vh;
        right: 12vw;
        background-color: #000000;
        opacity: 0%;
        width: 35%;
        height: 40%; }
      #pictub #recipe1 .hevglit:hover {
        opacity: 80%; }
      #pictub #recipe1 .gorgeous {
        position: absolute;
        bottom: 10vh;
        left: 12vw;
        background-color: #000000;
        opacity: 0%;
        width: 35%;
        height: 40%; }
      #pictub #recipe1 .gorgeous:hover {
        opacity: 80%; }
      #pictub #recipe1 .cazzo {
        position: absolute;
        bottom: 5vh;
        right: 20vw;
        background-color: #000000;
        opacity: 0%;
        right: 12vw;
        width: 35%;
        height: 40%; }
      #pictub #recipe1 .cazzo:hover {
        opacity: 80%; }
    #pictub footer {
      font-size: 20px; } }

/*# sourceMappingURL=styles.css.map */
