$back1: #557a95; 
$back2: #7395AE;
$text1 : #000000;
$text2: #ffffff;
$sec1: #B1A296; 
$sec2: #5D5C61;

@mixin frontitems() {
        .menimg {
            margin-left: 20vw;
            padding: 5vw;
            border-radius: 50%;
            width: 50vw;
            height: 50vw;
            background-color: #557a95;
        }
    }

@mixin nav1() {
    ul {
        list-style: none;
        li {
            background-color: $sec2;
            border-radius: 20%;
            padding: 1vw;
            margin: 1vw;
        }
    }
}

@mixin navbar() {
    display: flex;
    justify-content: center;
    background-color: $back1;
    list-style: none;
    a {
    color: $text2;
    }
    ul {
        display: flex;
        justify-content: center;
        list-style: none;
        .conli {
        height: 5vh;
        padding: 2vw;
        li {
            background-color: $sec2;
            border-radius: 20px;
        }
    }
    
    }
}

a:hover {
    background-color:$sec1;
}

* {
    margin: 0vw;
    padding: 0vw;
}

header {
@include nav1;
}

body {
    background-color: $back2;
    a {
        color: $text1;
    }
    h1 {
        display: flex;
        justify-content: center;
        background-color: $back2;
        color: $text1;
        font-size: 10vw;
       }
       h2 {
           padding: 5vw;
       }
       margin-bottom: 10vw;
}

#boutmeheadpic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 30%;
}

#navbar {
@include navbar;
}

#imgcont {
    @include frontitems;
    flex-direction: column;
    justify-content: center;
    }

#imgcont a:hover{
    background-color: transparent;
    .menimg {
        transform: scale(1.2);
        transition: 2s;
        background-color: transparent;
    }
}






footer {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100vw;
    text-align: center;
    background-color: $back1;
    color: $text1;
    font-size:10px;
}


h2 {
    text-align: center;
}


.blogs {
    h3 {
        padding-top: 5vw;
    }
    h4 {
        padding-top: 1vw;
    }
    #pictub {        
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        #recipe1{
            position: relative;
            text-align: center;
            color: $text2;
        
        .butrum {
            position: absolute;
            top: 5vh;
            left: 20vw;
            background-color: $text1;
            opacity: 0%;
        }
        .butrum:hover {
                opacity: 80%;
        }
        
        .hevglit {
            position: absolute;
            top: 5vh;
            right: 20vw;
            background-color: $text1;
            opacity: 0%;
        }
        .hevglit:hover {
            opacity: 80%;
        }
        .gorgeous {
            position: absolute;
            bottom: 5vh;
            left: 20vw;
            background-color: $text1;
            opacity: 0%;
        }
        .gorgeous:hover {
            opacity: 80%;
        }
        .cazzo {
            position: absolute;
                bottom: 5vh;
                right: 20vw;
                background-color: $text1;
                opacity: 0%;
        }
        .cazzo:hover {
            opacity: 80%;
        }
    }
    #pictub2 {        
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        img {
        height: 25vw;
        padding: 1vw;
        }   
    }
    img {
        height: 25vw;
        padding: 1vw;
        }   
}
}



#contactlist {
    display: flex;
    justify-content: center;
}
.conli {
        height: 10vw;
        width: 10vw;
        padding: 5vw;
}

@media only screen and (min-width: 800px) {

    #contactlist {
        display: flex;
        flex-wrap: wrap;
        height: 100vw;
    }   
    .conli {
       height:20vw;
       width: 20vw;
       padding:15vw;
    }

    #imgcont {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0px;
        a {
            display: inline;
        }
        .menimg {
            padding: 5vw;
            border-radius: 50%;
            width: 30vw;
            height: 30vw;
            margin: 0px;
        }
    } }
    
    .clickbait {
        text-align: center;
    }
    #whoami {
        display: none;
    }

    section {
        padding-top: 10vh;
        display: none;
    }
    
    input[type=checkbox]:checked ~ section{
        display: block;
    }

