$black: #0B090A; // BLACK
$charcoal: #161A1D; // CHARCOAL
$maroon: #660708; // MAROON
$lipstick: #A4161A; //LIPSTICK
$red: #BA181B; //RED
$pastel: #E5383B; //PASTEL
$elephant: #B1A7A6; //ELEPHANT
$foil: #D3D3D3; //FOIL
$ivory: #F5F3F4;  //IVORY
$white: #FFFFFF; //WHITE


* {
    margin: 0vw;
    padding: 0vw;
}

header {

}

body {
    background-color: $charcoal;
    h1 {
        display: flex;
        justify-content: center;
        background-color: $charcoal;
        color: $lipstick;
        font-size: 200px;
    }
}


#navbar {
    display: flex;
    justify-content: center;
    background-color: $foil;
}

#imgcont {
    flex-direction: column;
    justify-content: center;
    img {
        margin-left: 20vw;
        padding: 5vw;
        border-radius: 50%;
        width: 50vw;
        height: 50vw;
        justify-content: space-around;
        align-items: center;
    }
}

footer {
    background-color: black;
    color: $lipstick;
    font-size: 75px;
}