$back1: #557a95; 
$back2: #7395AE;
$text1 : #000000;
$text2: #ffffff;
$sec1: #B1A296; 
$sec2: #5D5C61;




* {
    margin: 0vw;
    padding: 0vw;
}

header {
    ul {
        list-style: none;
        li {
            background-color: $sec2;
            border-radius: 20%;
            padding: 1vw;
            margin: 1vw;
        }
    }
}

body {
    background-color: $back2;
    a {
        color: $text1;
    }
    h1 {
        display: flex;
        justify-content: center;
        background-color: $back2;
        color: $text1;
        font-size: 10vw;
       }
       h2 {
           padding: 5vw;
       }
       margin-bottom: 10vw;
}

#boutmeheadpic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 30%;
}

#navbar {
    display: flex;
    justify-content: center;
    background-color: $back1;
    list-style: none;
    a {
    color: #ffffff;
    }
    ul {
        display: flex;
        justify-content: center;
        list-style: none;
        .conli {
        height: 5vh;
        padding: 2vw;
        li {
            background-color: $sec2;
            border-radius: 20px;
        }
    }
    
    }
}

#imgcont {
    flex-direction: column;
    justify-content: center;
    img {
        margin-left: 20vw;
        padding: 5vw;
        border-radius: 50%;
        width: 50vw;
        height: 50vw;
        justify-content: space-around;
        align-items: center;
    }
}

footer {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100vw;
    text-align: center;
    background-color: $back1;
    color: $text1;
    font-size:10px;
}


h2 {
    text-align: center;
}


.blogs {
    h3 {
        padding-top: 5vw;
    }
    h4 {
        padding-top: 1vw;
    }
    img {
        height: 25vw;
        align: center;
    }
}

.conli {
        height: 20vw;
}